<p>Welcome to my Scrabble app</p>
<br>
<% if flash[:notice] %>
  <p style="color: red"><%= flash[:notice] %></p>
<% end %>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "My rack:") %>
  <%= text_field_tag 'q', nil, maxlength: 12 %>
  <%= submit_tag("Create words from my letters") %>
<% end %>