<!DOCTYPE html>
<html>
  <head>
    <title>Scrabblista</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logo">
      <div class="container">
        <div class="col-md-6 col-md-offset-3">
          <h1><%=link_to("Scrabblista", root_path) %></h1>
        </div>
      </div>
    </div>
    <h2>Wyszukiwarka słów z podanych liter</h2>
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <% if flash[:notice] %>
          <p style="color: red"><%= flash[:notice] %></p>
        <% end %>
          <div class="search-form">
            <%= form_tag("/search", method: "get") do %>
              <%= label_tag(:q, "Moje litery:", class: "search-form-head") %>
              <%= text_field_tag('q', nil, maxlength: 12, autocomplete: "off", class: "search-form-tab")%>
              <%= submit_tag("Szukaj słów", class: "search-form-btn") %>
            <% end %>
          </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
